.popup__close {
    width: 26px;
    position: absolute;
    top: -26px;
    right: -26px;
    cursor: pointer;
}

@media (max-width: 880px) {
    .popup__close {
        width: 20px;        
        top: 3px;
        right: 3px;        
    }  
}