@import url(./__title/vehicle__title.css);
@import url(./__description/vehicle__description.css);

.vehicle {
    margin-right: 30px;
    padding: 20px;
    background-color: #656769;
    border-radius: 10px;
}

.vehicle:last-of-type {
    margin-right: 0;
}

@media (max-width: 660px) {
    .vehicle {
        margin-right: 0;
        margin-bottom: 30px;
    }
}